<div *ngIf="flag === 'new'">
    <h2>Create new product</h2>
</div>
<div *ngIf="flag != 'new' && product && product.name">
    <h2>{{product.name}} details</h2>
</div>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
        <label class="center-block">id:
      <input class="form-control" formControlName="id">
    </label>
    </div>
    <div class="form-group">
        <label class="center-block">robotType:
      <input class="form-control" formControlName="robotType">
    </label>
    </div>
    <div class="form-group">
        <label class="center-block">photo:
      <input class="form-control" formControlName="photo">
    </label>
    </div>
    <div class="form-group">
        <label class="center-block">name:
      <input class="form-control" formControlName="name">
    </label>
    </div>
    <div class="form-group">
        <label class="center-block">cname:
      <input class="form-control" formControlName="cname">
    </label>
    </div>
    <div formArrayName="range" class="well well-lg">
        <div *ngFor="let range of range.controls; let i=index">
            <h4>Range {{i + 1}}</h4>
            <div style="margin-left: 1em;">
                <div class="form-group">
                    <label class="center-block">Value:
            <input class="form-control" [formControl]="range">
          </label>
                </div>
            </div>
        </div>
        <button (click)="removeRange()" type="button" [disabled]="range.length == 0">Remove a Range</button>
        <button (click)="addRange()" type="button">Add a Range</button>
    </div>
    <div formArrayName="guide" class="well well-lg">
        <div *ngFor="let guide of guide.controls; let i=index" [formGroupName]="i">
            <h4>Guide {{i + 1}}</h4>
            <div style="margin-left: 1em;">
                <div class="form-group">
                    <label class="center-block">id:
            <input class="form-control" formControlName="id">
          </label>
                </div>
                <div class="form-group">
                    <label class="center-block">name:
            <input class="form-control" formControlName="name">
          </label>
                </div>
                <div class="well wll-lg">
                    <div *ngFor="let info of guide.controls.info.controls; let j=index">
                        <h4>Info {{j + 1}}</h4>
                        <div style="margin-left: 1em;">
                            <div class="form-group">
                                <label class="center-block">Value:
                    <input class="form-control" [formControl]="info">
                  </label>
                            </div>
                        </div>
                    </div>
                    <button (click)="removeInfo(i)" type="button" [disabled]="guide.controls.info.controls.length == 0">Remove a Info</button>
                    <button (click)="addInfo(i)" type="button">Add a Info</button>
                </div>
            </div>
        </div>
        <button (click)="removeGuide()" type="button" [disabled]="guide.length == 0">Remove a Guide</button>
        <button (click)="addGuide()" type="button">Add a Guide</button>
    </div>
    <div formGroupName="paymentPlan" class="well well-lg">
        <h4>paymentPlan</h4>
        <div style="margin-left: 1em;">
            <div class="form-group">
                <label class="center-block">label:
            <input class="form-control" formControlName="label">
          </label>
            </div>
            <div class="form-group">
                <label class="center-block">name:
            <input class="form-control" formControlName="name">
          </label>
            </div>
            <div class="form-group">
                <label class="center-block">onChange:
            <input class="form-control" formControlName="onChange">
          </label>
            </div>
            <div formArrayName="selectList" class="well well-lg">
                <div *ngFor="let selectList of selectList.controls; let i=index">
                    <h5>selectList {{i + 1}}</h5>
                    <div style="margin-left: 1em;">
                        <div class="form-group">
                            <label class="center-block">Value:
                  <input class="form-control" [formControl]="selectList">
                </label>
                        </div>
                    </div>
                </div>
                <button (click)="removeSelectList()" type="button" [disabled]="selectList.length == 0">Remove a SelectList</button>
                <button (click)="addSelectList()" type="button">Add a SelectList</button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="center-block">monthlyFees:
      <input class="form-control" formControlName="monthlyFees">
    </label>
    </div>
    <div class="form-group">
        <label class="center-block">seriesCode:
      <input class="form-control" formControlName="seriesCode">
    </label>
    </div>
    <div class="form-group">
        <label class="center-block">status:
      <input class="form-control" formControlName="status">
    </label>
    </div>
    &nbsp;
    <button class="button" type="button" (click)="goBack()">Back</button>
    <button class="button" type="reset" [disabled]="productForm.pristine" (click)="reset()">Reset</button>
    <button class="button" type="submit" [disabled]="productForm.pristine">Save</button>
</form>
<p>productForm value: {{ productForm.value | json}}</p>