<h2>All Products</h2>
<button (click)="gotoDetail('empty')">Create new product</button>
<ul class="products">
  <li *ngFor="let product of products" (click)="onSelect(product)"
      [class.selected]="product === selectedProduct">
    <span class="badge">{{product.id}}</span>
    <span>{{product.name}}</span>
    <button class="delete"
      (click)="delete(product); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedProduct">
  <h2>
    {{ selectedProduct.name }} is selected.
  </h2>
  <button (click)="gotoDetail('selected')">View/Update Details</button>
</div>